/* community.html */
.mainContainer{
    padding: 50px 0;
}

  .writeBtn {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
  }

  .writeBtn button {
    padding: 8px 40px;
    background-color: #90FC2B;
    border: none;
    border-radius: 20px;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .writeBtn button:hover {
    background-color: #55E61C;
    color: #fff;
  }

  .writeBtn button:focus {
    outline: 1px solid #A6E61C;
  }

  .writeBtn button:active{
    background-color: #55E61C;
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #4CAF50;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }