<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/sale.css">
        <title>Farmer's Story 작물판매수정</title>
    </head>
    <body>
        <header>
            <div>
                <a href="/main">
                    <img src="/img/logo.png" alt="로고" />
                </a>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="/main">홈</a>
                    </li>
                    <li>일기쓰기</li>
                    <li>커뮤니티</li>
                    <li>
                        <a href="/sale">작물판매</a>
                    </li>
                </ul>
            </div>
            <div class="userTag">
                <ul th:if="${session.dto != null}">
                    <li>
                        <div class="userProfile">
                            <img th:src="${session.dto.user.profileImg}" alt="프로필" />
                        </div>
                    </li>
                    <li class="userNicknameText">
                        <span th:text="${session.dto.user.nickname}"></span>님 환영합니다!
                    </li>
                    <li class="sideMenuLi">
                        <span onclick="openSideMenu()">&#9776;</span>
                    </li>
                </ul>
                <ul th:if="${session.dto == null}">
                    <a href="/login">
                        <li class="userTagText">로그인</li>
                    </a>
                    <a href="/join">
                        <li class="userTagText">회원가입</li>
                    </a>
                </ul>
            </div>
        </header>
        <div id="sideMenu" class="side-menu" th:if="${session.dto != null}">
            <a href="#" class="close-btn" onclick="closeSideMenu()">&times;</a>
            <ul class="side-menu-links">
                <li><a href="/saleinsert" th:if="${session.dto.user.authority == 1}">상품등록하기</a></li>
                <li><a href="#">개인정보수정</a></li>
                <li><a href="#">장바구니</a></li>
                <li><a href="javascript:logout();">로그아웃</a></li>
            </ul>
        </div>
        <div class="uploadContainer" th:each="saleDetail : ${resSaleDetailList.sale}">
            <div class="uploadImg">
                <label for="file">이미지 수정</label>
                <div>
                    <div><input type="file" id="file"></div>
                </div>
                <div class="fileInputImg">
                    <img id="preview" th:src="${saleDetail.saleImg}" alt="" width="100%">
                </div>
            </div>
            <div class="uploadText">
                <h1>상품 수정하기</h1>
                <div>
                    <input type="hidden" th:value="${saleDetail.idx}" id="saleUploadIdx">
                    <label for="saleUploadName">상품 이름</label>
                    <input type="text" id="saleUploadName" placeholder="상품 이름을 적어주세요" th:value="${saleDetail.name}">
                </div>
                <div>
                    <label for="saleUploadCategory">카테고리</label>
                    <select id="saleUploadCategory">
                        <option value="0">--선택--</option>
                        <option value='1'>곡류</option>
                        <option value='2'>콩류</option>
                        <option value='3'>서류</option>
                        <option value='4'>채소</option>
                        <option value='5'>과실류</option>
                        <option value='6'>종실류</option>
                        <option value='7'>특용작물</option>
                        <option value='8'>약용작물</option>
                        <option value='9'>전매작물</option>
                        <option value='10'>화훼작물</option>
                        <option value='11'>버섯류</option>
                    </select>
                </div>
                <div>
                    <label for="saleUploadTitle">제목</label>
                    <input type="text" id="saleUploadTitle" placeholder="제목을 적어주세요" th:value="${saleDetail.title}">
                </div>
                <div>
                    <label for="saleUploadIntroduction">상세 설명</label>
                    <input type="text" id="saleUploadIntroduction" placeholder="상세 설명을 적어주세요" th:value="${saleDetail.introduction}">
                </div>
                <div>
                    <label for="saleUploadAmount">수량</label>
                    <input type="number" name="amount" id="saleUploadAmount" min="1" max="100" placeholder="수량을 입력해주세요" th:value="${saleDetail.amount}">
                </div>
                <div>
                    <label for="saleUploadPrice">가격</label>
                    <input type="text" id="saleUploadPrice" placeholder="가격을 입력해주세요" th:value="${saleDetail.price}">
                </div>
                <div class="saleDetailBtn">
                    <button type="button" onclick="requestSaleUpadet()">수정하기</button>
                    <button type="button">취소하기</button>
                </div>
            </div>
        </div>
        <footer>
            <div>
                <img src="/img/logo_name.png" alt="로고">
            </div>
            <div>
                <ul>
                    <li>
                        <a href="https://velog.io/@devjyu" target="_blank">
                            <img src="/img/velog_icon.png" alt="velog">
                    </li>
                    </a>
                    <li>
                        <a href="https://github.com/devjyu" target="_blank">
                            <img src="/img/github_icon2.png" alt="github">
                    </li>
                    </a>
                    <li>
                        <a href="">
                            <img src="/img/instagram_icon2.png" alt="instagram">
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h5>(C)Copyright.Developer devjyu</h5>
            </div>
        </footer>
    </body>
    <script>
        // 사이드 메뉴 열기
        function openSideMenu() {
            document.getElementById("sideMenu").classList.add("open");
        }

        // 사이드 메뉴 닫기
        function closeSideMenu() {
            document.getElementById("sideMenu").classList.remove("open");
        }

        // 로그아웃하기
        const logout = () => {
            location.replace("/logout");
        };

        // 파일 업로드
        const fileInput = document.getElementById('file');
            const preview = document.getElementById('preview');

            fileInput.addEventListener('change', function () {
                const file = fileInput.files[0];
                if (file) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        preview.src = e.target.result;
                    }

                    reader.readAsDataURL(file);
                } else {
                    preview.src = '';
                }
        });

        // 상품수정
        const requestSaleUpadet = (saleIdx) => {
            // 입력값 검증
            if (!validateFields()) {
                return; 
            }

            const idxTag = document.querySelector("#saleUploadIdx");
            const nameTag = document.querySelector("#saleUploadName");
            const categoryTag = document.querySelector("#saleUploadCategory");
            const titleTag = document.querySelector("#saleUploadTitle");
            const introductionTag = document.querySelector("#saleUploadIntroduction");
            const amountTag = document.querySelector("#saleUploadAmount");
            const priceTag = document.querySelector("#saleUploadPrice");
            const saleImg = document.querySelector("#file");

            const formData = new FormData();

            formData.append("idx", idxTag.value);
            formData.append("name", nameTag.value);
            formData.append("title", titleTag.value);
            formData.append("introduction", introductionTag.value);
            formData.append("amount", amountTag.value);
            formData.append("price", priceTag.value);
            formData.append("categoryIdx", categoryTag.value);

            if (saleImg.files.length > 0) {
                formData.append("saleImg", saleImg.files[0]);
            }

            fetch("/api/v1/sale", {
                method : "PUT",
                body : formData
            })
            .then((res) => res.json())
            .then((result) => {
                alert(result.message);
                if (result.code === 0) {
                    location.replace("/sale");
                }
            }).catch((error) => {
                console.error("Fetch error:", error);
            })

        };

        // 유효성 검사
        const validateFields = () => {
            const saleUploadNameElement = document.querySelector("#saleUploadName");
            const saleUploadCategoryElement = document.querySelector("#saleUploadCategory");
            const saleUploadTitleElement = document.querySelector("#saleUploadTitle");
            const saleUploadIntroductionElement = document.querySelector("#saleUploadIntroduction");
            const saleUploadAmountElement = document.querySelector("#saleUploadAmount");
            const saleUploadPriceElement = document.querySelector("#saleUploadPrice");

            if (saleUploadNameElement.value === "") {
                alert("상품 이름을 확인해주세요");
                saleUploadNameElement.focus();
                return false;
            }

            if (saleUploadCategoryElement.value == null) {
                alert("카테고리를 선택해주세요");
                saleUploadCategoryElement.focus();
                return false;
            }

            if (saleUploadTitleElement.value === "") {
                alert("제목을 입력해주세요");
                saleUploadTitleElement.focus();
                return false;
            }

            if (saleUploadIntroductionElement.value === "") {
                alert("상세 설명을 적어주세요");
                saleUploadIntroductionElement.focus();
                return false;
            }

            if (saleUploadAmountElement.value < 0) {
                alert("수량을 확인해주세요");
                saleUploadAmountElement.focus();
                return false;
            }

            if (saleUploadPriceElement.value === "") {
                alert("금액을 입력해주세요");
                saleUploadPriceElement.focus();
                return false;
            }

            return true;
        }
    </script>
</html>